* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

@media only screen and (min-width: 601px) {
  #close {
    display: none;
  }

  #input,
  #output {
    display: block;
    overflow: hidden;
    width: auto;
    height: auto;
  }

  #input,
  #edit {
    float: right;
    width: 20%;
    height: 100vh;
    background: #222;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 1px solid #000;
  }

  #input h4,
  #edit h4 {
    display: block;
    overflow: hidden;
    width: 85%;
    height: auto;
    padding: 10px 15px;
    margin: 1rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }

  #output {
    float: left;
    width: 80%;
    height: auto;
    min-height: 100vh;
    background: #eee;
  }

  #input input[type="text"],
  #edit input[type="text"] {
    display: block;
    overflow: hidden;
    width: 85%;
    height: auto;
    padding: 10px 15px;
    margin: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
  }

  #input button,
  #edit button {
    display: block;
    overflow: hidden;
    width: 85%;
    height: auto;
    padding: 10px 15px;
    margin: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
    background: #000;
    color: #fff;
  }

  #edit {
    display: none;
  }

  #navigasi {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    background: #222;
    clear: both;
  }

  #logo {
    float: left;
    width: auto;
    height: auto;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    padding: 15px 10px;
    text-transform: uppercase;
    font-weight: bold;
  }

  #panel {
    float: right;
    width: auto;
    height: auto;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    padding: 10px;
  }

  #panel button {
    background: transparent;
    border: 1px hidden;
    color: #fff;
    margin: auto 1rem;
    display: inline-block;
  }

  #panel input[type="text"] {
    border: 1px solid #000;
    padding: 5px 15px;
    border-radius: 10px;
    width: 350px;
    display: inline-block;
  }

  .baris:hover {
    background: #ccc;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  #close {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    cursor: pointer;
  }

  #input,
  #output {
    display: block;
    overflow: hidden;
    width: auto;
    height: auto;
  }

  #input,
  #edit {
    width: 100%;
    height: 100vh;
    background: #222;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 1px solid #000;
    display: none;
  }

  #input h4,
  #edit h4 {
    display: block;
    overflow: hidden;
    width: 90%;
    height: auto;
    padding: 10px 15px;
    margin: 1rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }

  #output {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: #eee;
  }

  #input input[type="text"],
  #edit input[type="text"] {
    display: block;
    overflow: hidden;
    width: 92%;
    height: auto;
    padding: 10px 15px;
    margin: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
  }

  #input button,
  #edit button {
    display: block;
    overflow: hidden;
    width: 92%;
    height: auto;
    padding: 10px 15px;
    margin: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
    background: #000;
    color: #fff;
  }

  #navigasi,
  #foot {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    background: #222;
    clear: both;
  }

  #logo {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    padding: 15px 10px;
    text-transform: uppercase;
    font-weight: bold;
  }

  #panel {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
  }

  #foot button {
    background: transparent;
    border: 1px hidden;
    color: #fff;
    margin: auto;
    display: block;
    float: right;
  }

  #panel input[type="text"] {
    border: 1px solid #000;
    padding: 10px 15px;
    border-radius: 10px;
    width: 95%;
    display: block;
    margin: auto auto 25px auto;
  }

  #foot {
    background: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
  }

  .baris:hover {
    background: #ccc;
    cursor: pointer;
  }

  #tabel-display tr th {
    overflow: hidden;
    white-space: nowrap;
    padding: 8px 10px;
    border: 1px solid #000;
  }

  .hllang {
    display: none;
  }
}
